.p_card-content{
	.p_card-body{
		.p_card-scoreSystem{
			padding:0;
			img{
				height: auto;
				max-height: 500px;
				width: 75%;
				margin: 25px 12% 0;
			}
		}
		.p_card-indicatorInfo{
			padding:0;
			margin-top: 40px; 
			h2{
				text-align: center;
			}
			.p_card-indicatorRow{
				padding: 0;
				width: 100%;
				text-align: center;

				.p_card-indicators{
					width: 150px;
				    display: inline-block;
				    padding: 5 5;
				    height: 260px;
				    overflow: hidden;
				    img{
						background-color: #c7c7c7;
						width: 125px;
						height: 70%;
						margin: 0 5;
						border-radius: 8px;
						box-shadow:$indicator-box-shadow;
							-webkit-box-shadow: $indicator-box-shadow;
							-moz-box-shadow: $indicator-box-shadow;
					}
					p{
						font-size: 14px;
						margin-top: 15px;
						text-align: center;
					}
				}

			}
		}
		.p_card-additional{
			padding:0;
			margin-top:40px;
			.p_card-addInfo{
				// padding: 0;
				h3{
					text-align: center;
				}
				p{

				}
				img{
					height: 200px;
					border: 8px solid #f5f5f5;
					border-radius: 15px;
					box-shadow: $product-box-shadow;
						-moz-box-shadow: $product-box-shadow;
						-webkit-box-shadow: $product-box-shadow;
				}
			}
		}

	}

}