.p_card-content{
	.p_card-body{
		.p_card-compContent{
			padding:0;
			img{
				height: auto;
				max-height: 650px;
				width: 100%;
				margin: -60px auto;
			}
			.p_card-compDetail{
				position: relative;
				bottom: 100;
				h3{
					text-align: center;
					text-weight: 700;
					margin-bottom: 50px;
				}
				.p_card-compDescDiv{
					height: auto;
					padding: 0 20;
					p{
						background-color: $bg-color3;
						height: 60px;
						text-align: center;
						color: white;
						padding: 20px 0;
						box-shadow: $indicator-box-shadow;
					}

				}

			}
		}

	}
}