<div class="p_card-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="p_card-header col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h1>Cashiers Statistics</h1>
		<p>A scoring system that evaluates the performance of a store by monitoring the activity of it's cashiers.</p>
	</div>
	<div class="p_card-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="p_card-scoreSystem col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<p>The score system is built to dynamically accommodate changes as they occur to establish a baseline of the stores overall performance.</p>
			<p>Once the baseline is established, the monitoring system compares each individual cashier to the overall store's performance assigning a Level of Concern to the individual cashier as well as the store as a whole.</p>
			<img src="./data/images/score_system.png" height="100%" width="100%">
		</div>
		<div class="p_card-indicatorInfo col-lg-12 col-md-12 col-sm-12 col-xs-12">
			
			<h2>The Level of Concern is based on a 4 value scale</h2>
			<div class="p_card-indicatorRow col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="p_card-indicators">
					<img class="" src="./data/images/green.png" height="100%" width="100%">
					<p class="">Cashier is within the stores score.</p>
				</div>
				<div class="p_card-indicators">
					<img class="" src="./data/images/yellow.png" height="100%" width="100%">
					<p class="">Cashier is slightly over the stores score.</p>
				</div>
				<div class="p_card-indicators">
					<img class="" src="./data/images/orange.png" height="100%" width="100%">
					<p class="">Cashier is moderately over the stores score.</p>
				</div>
				<div class="p_card-indicators">
					<img class="" src="./data/images/red.png" height="100%" width="100%">
					<p class="">Cashier is extremely over the stores score.</p>
				</div>
				<div class="p_card-indicators">
					<img class="" src="./data/images/purple.png" height="100%" width="100%">
					<p class="">Cashier has multiple extreme categories.</p>
				</div>
			</div>
			<p>At anytime, a Level of Concern can change a cashiers indicator color to purple. A purple concern indicates a cashier has one or more subcategories that fall into the extreme. Purple colored indicators should take precedence over all others.</p>
		</div>
		<div class="p_card-additional col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="p_card-addInfo col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<h3>Investigate Quickly</h3>
				<p>Further investigate the behavior of individuals with our drill down option. Managers will be guided in the direction of where a potential problem may exist.</p>
				<img src="./data/images/drill_down.png" height="100%" width="100%">
			</div>
			<div class="p_card-addInfo col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<h3>Compare Stores</h3>
				<p>A drag and drop feature designed to allow users to compare multiple store scores. Simply click and drag a store widget into the drag zone and a new graph will appear in the window.</p>
				<img src="./data/images/cashier_tile.png" height="100%" width="100%">
			</div>
		</div>
</div>