<div class="p_card-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="p_card-header col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h1>Comparison</h1>
		<p>Create customizable graphs which allow users to compare the performance of multiple stores.</p>
	</div>
	<div class="p_card-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="p_card-compContent col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<img class="" src="./data/images/comparison_graphs.png" height="100%" width="100%">

			<div class="p_card-compDetail col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h3>There are six available comparison charts</h3>

				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p_card-compDescDiv">
					<p class="compTitle">Sales Comparison</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p_card-compDescDiv">
					<p class="compTitle">Customer Counts</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p_card-compDescDiv">
					<p class="compTitle">Totalizers</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p_card-compDescDiv">
					<p class="compTitle">Hand Keyed Items</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p_card-compDescDiv">
					<p class="compTitle">Cashier Scores</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p_card-compDescDiv">
					<p class="compTitle">Cash Back</p>
				</div>
			</div>

		</div>
	</div>
</div>