<div class="p_card-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="p_card-header col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h1>Department Overview</h1>
		<p>The Department Overview grid displays record information pertaining to the hand keyed items found within a department.</p>
	</div>
	<div class="p_card-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="p_card-depContent col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<img src="./data/images/departmentBrowser.png" height="100%" width="100%" class="">
			<p>The grid displays per item providing the details of a particular instance of Hand Keyed sales. Information such as department name, amount of items, date, time and clerk is made readily available.</p>
		</div>
	</div>
</div>