<div class="p_base col-lg-3 col-md-3 col-sm-12 col-xs-12">
	<div class="p_header col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h1>rReports</h1>
		<h4>Track the performance of your business with our online monitoring and reporting system</h4>
	</div>
	<div class="p_bodyNav col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<li id="p_nav-cashiers" class="currentNav">Cashiers</li>
		<li id="p_nav-department" class="">Departments</li>
		<li id="p_nav-sales" class="">Sales</li>
		<li id="p_nav-reporting" class="">Reporting</li>
		<li id="p_nav-comparison" class="">Comparison</li>
	</div>
</div>