<div class="p_card-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="p_card-header col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h1>Reporting</h1>
		<p>A viewer and exporter for customized reports.</p>
	</div>
	<div class="p_card-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="p_card-reportingContent col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="p_card-repTile col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p>The Reports tile allows users to select a preloaded report for a specific date range and instantly view the results.</p>
				<img class=""src="./data/images/reporting_report.png" height="100%" width="100%">
			</div>
			<div class="p_card-repQuickLaunch col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3>Quick Launch</h3>
					<h4>Found at the top of Reports, Quick Launch buttons offer users a view of individual graphs for various categories.</h4>

					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p_card-repQuickLaunchRow">
							<div class="p_card-quickLaunchIcons">						
								<img src="./data/images/void.png" height="100%" width="100%">
								<p>Voids</p>
							</div>
							<div class="p_card-quickLaunchIcons">								
								<img src="./data/images/cancel.png" height="100%" width="100%">
								<p>Cancel Items</p>
							</div>
							<div class="p_card-quickLaunchIcons">								
								<img src="./data/images/nosales.png" height="100%" width="100%">
								<p>No Sales</p>
							</div>
							<div class="p_card-quickLaunchIcons">								
								<img src="./data/images/saleskeyed.png" height="100%" width="100%">
								<p>Keyed Items</p>
							</div>
							<div class="p_card-quickLaunchIcons">								
								<img src="./data/images/refund.png" height="100%" width="100%">
								<p>Refunds</p>
							</div>
							<div class="p_card-quickLaunchIcons">								
								<img src="./data/images/lines.png" height="100%" width="100%">
								<p>Line Chart</p>
							</div>
							<div class="p_card-quickLaunchIcons">								
								<img src="./data/images/totalizers.png" height="100%" width="100%">
								<p>Totalizers</p>
							</div>
					</div>
			</div>
		</div>
	</div>
</div>