<div class="p_card-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="p_card-header col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h1>Sales</h1>
		<p>An interactive grid display allowing users to compare sales to the previous year.</p>
	</div>
	<div class="p_card-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="p_card-salesContent col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<p class="">Users are able to select multiple stores or use a group they have created in their settings for comparison. Request for comparisons can be made for either a single day or a selected date range and can be exported to an excel file.</p>
			<img class="salesBrowser" src="./data/images/salesBrowser.png" height="100%" width="100%">

			<p class="second">An additional viewing option is available on the desktop by selecting the Widgets button. This will display the sales information into individual components for each day as shown below.</p>
			<img class="salesWidget" src="./data/images/salesWidget.png" height="100%" width="100%">
		</div>
	</div>
</div>