// @keyframes divLeft {
//     0%{right: 0;
//         opacity:1;};
//     25%{right: 50px;
//         opacity:0.75;};
//     50%{right: 150px;
//         opacity:0.5;};
//     75%{right: 200px;
//         opacity:0.25;};
//     100%{right: 250px;
//         opacity:0;};
// };