$font-stack-OpenSans: 'Open Sans', sans-serif;
$font-stack-Dosis: 'Dosis', sans-serif;
$indicator-box-shadow:0px 6px 39px -19px rgba(0,0,0,0.82);
$product-box-shadow: 0px 4px 39px -9px rgba(0,0,0,0.82);
$btn-box-shadow:0px 4px 19px -9px rgba(0,0,0,0.82);
$bg-color2: #1F3447; //dark blue
$bg-color3: #6D8EAD;