<div class="main-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="p_nav col-lg-3 col-md-3 col-sm-12 col-xs-12">
		<product-nav></product-nav>
	</div>
	<div class="p_body col-lg-9 col-md-9 col-sm-12 col-xs-12">
		<div id="cashiers" class="p_card-wrapper current col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="p_card-nav col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nav_arrow-left"><a href="" ng-click='showPrev($event)'><i class="fa fa-angle-left"></i></a></div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 nav_card-count"> 1 of 5</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nav_arrow-right"><a href="" ng-click='showNext($event)'><i class="fa fa-angle-right"></i></a></div>
			</div>
			<cashiers-div></cashiers-div>
		</div>

		<div id="department" class="p_card-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="p_card-nav col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nav_arrow-left"><a href="" ng-click='showPrev($event)'><i class="fa fa-angle-left"></i></a></div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 nav_card-count"> 2 of 5</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nav_arrow-right"><a href="" ng-click='showNext($event)'><i class="fa fa-angle-right"></i></a></div>
			</div>
			<departments-div></departments-div>
		</div>

		<div id="sales" class="p_card-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="p_card-nav col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nav_arrow-left"><a href="" ng-click='showPrev($event)'><i class="fa fa-angle-left"></i></a></div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 nav_card-count"> 3 of 5</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nav_arrow-right"><a href="" ng-click='showNext($event)'><i class="fa fa-angle-right"></i></a></div>
			</div>
			<sales-div></sales-div>
		</div>

		<div id="reporting" class="p_card-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="p_card-nav col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nav_arrow-left"><a href="" ng-click='showPrev($event)'><i class="fa fa-angle-left"></i></a></div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 nav_card-count"> 4 of 5</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nav_arrow-right"><a href="" ng-click='showNext($event)'><i class="fa fa-angle-right"></i></a></div>
			</div>
			<reporting-div></reporting-div>
		</div>

		<div id="comparison" class="p_card-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="p_card-nav col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nav_arrow-left"><a href="" ng-click='showPrev($event)'><i class="fa fa-angle-left"></i></a></div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 nav_card-count"> 5 of 5</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nav_arrow-right"><a href="" ng-click='showNext($event)'><i class="fa fa-angle-right"></i></a></div>
			</div>
			<comparison-div></comparison-div>
		</div>
	</div>

</div>